/* Created by Pedro Pires [https://github.com/pedrocpires] */

/* Create the new component's CSS style here */
.NavItem {
  font: 16px "Roboto", sans-serif;
  color: var(--clr-white);
  font-weight: 500;
  line-height: 22px;
  padding: 8px 12px;
  letter-spacing: 1px;
}

a {
  color: var(--clr-white);
}

a:hover {
  text-decoration: none;
  color: var(--yellow);
}
