/* Created by Pedro Pires [https://github.com/pedrocpires] */

/* Create the new component's CSS style here */
.Conteiner {
    color: var(--clr-white);
    background-color: var(--clr-content);
    padding: 40px;
    border-radius: 3px;
    max-width: 1140px;
    width: 100%;
    margin: 0px auto;
}
