:root {
  --white: #ffffff;
  --yellow: #ff8c05;
  --purple: #ba68c8;
  --blue: #53c0fe;

  --turquoise: #1abc9c;
  --emerald: #2ecc71;
  --greensea: #16a085;
  --nephritis: #27ae60;
  --peterriver: #3498db;
  --belizehole: #2980b9;
  --amethyst: #9b59b6;
  --wisteria: #8e44ad;
  --sunflower: #f1c40f;
  --orange: #f39c12;
  --carrot: #e67e22;
  --pumpkim: #d35400;
  --alizarin: #e74c3c;
  --pomegranate: #c0392b;
  --wetasphalt: #34495e;
  --midnightblue: #2c3e50;
  --clouds: #ecf0f1;
  --silver: #bdc3c7;
  --concrete: #95a5a6;
  --asbestos: #7f8c8d;

  /* --clr-primary: #262626; */
  --clr-primary: #ff8a01;
  --clr-primary-light: #ffb764;
  --clr-primary-dark: #9c5200;
  --clr-primary-intermediate-light: #ffa33a;
  --clr-primary-intermediate-dark: #c66a00;

  --clr-secondary: #086fa1;
  --clr-secondary-light: #4e97ba;
  --clr-secondary-intermediate-light: #2c7fa8;
  --clr-secondary-intermediate-dark: #06567d;
  --clr-secondary-dark: #044463;

  --clr-main: ##fafafa;
  --clr-main-light: #212121;

  --clr-content: #262626;
  --clr-content-light: #262626;

  --clr-success: #b2ff4d;
  --clr-success-light: #c4f583;

  --clr-danger: #e82453;
  --clr-danger-light: #fe7395;

  --clr-info: #ffffff;
  --clr-info-light: #262626;

  --clr-aux: #fc743a;
  --clr-aux-light: #ffb57f;

  --clr-gold: #ff8c04;
  --clr-gold-light: #e0c56e;

  --clr-grey-0: #aaaaaa;
  --clr-grey-1: #262626;
  --clr-grey-5: #525252;
  --clr-grey-10: #f5f6f7;
  --clr-ultra-light: #effef8;

  --clr-gradient-1: linear-gradient(
      135deg,
      hsla(206.04, 100%, 57.56%, 1) 0%,
      hsla(206.04, 100%, 57.56%, 0) 70%
    ),
    linear-gradient(
      25deg,
      hsla(31.36, 100%, 53.34%, 1) 10%,
      hsla(31.36, 100%, 53.34%, 0) 80%
    ),
    linear-gradient(
      315deg,
      hsla(5.21, 100%, 55.12%, 1) 15%,
      hsla(5.21, 100%, 55.12%, 0) 80%
    ),
    linear-gradient(
      245deg,
      hsla(124.53, 100%, 50%, 1) 100%,
      hsla(124.53, 100%, 50%, 0) 70%
    );
  --clr-gradient-2: linear-gradient(
      135deg,
      hsla(199.23, 96.46%, 48.52%, 1) 0%,
      hsla(199.23, 96.46%, 48.52%, 0) 70%
    ),
    linear-gradient(
      25deg,
      hsla(85.32, 97.79%, 47.39%, 1) 10%,
      hsla(85.32, 97.79%, 47.39%, 0) 80%
    ),
    linear-gradient(
      315deg,
      hsla(340.52, 94.37%, 47.37%, 1) 15%,
      hsla(340.52, 94.37%, 47.37%, 0) 80%
    ),
    linear-gradient(
      245deg,
      hsla(141.56, 92.14%, 43.9%, 1) 100%,
      hsla(141.56, 92.14%, 43.9%, 0) 70%
    );
  --clr-gradient-3: linear-gradient(
      135deg,
      hsla(141.17, 95.11%, 46.67%, 1) 0%,
      hsla(141.17, 95.11%, 46.67%, 0) 70%
    ),
    linear-gradient(
      25deg,
      hsla(49.05, 90.97%, 48.24%, 1) 10%,
      hsla(49.05, 90.97%, 48.24%, 0) 80%
    ),
    linear-gradient(
      315deg,
      hsla(43.69, 98.02%, 44.92%, 1) 15%,
      hsla(43.69, 98.02%, 44.92%, 0) 80%
    ),
    linear-gradient(
      245deg,
      hsla(321.85, 99.09%, 45.81%, 1) 100%,
      hsla(321.85, 99.09%, 45.81%, 0) 70%
    );
  --clr-gradient-4: linear-gradient(
      151deg,
      hsla(167.06, 100%, 50%, 1) 28%,
      hsla(167.06, 100%, 50%, 0) 70%
    ),
    linear-gradient(
      343deg,
      hsla(15.06, 100%, 50%, 1) 31%,
      hsla(15.06, 100%, 50%, 0) 100%
    );
  --clr-gradient-5: linear-gradient(to left, #d61a5e, #ff8c05);

  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
