/* Created by Pedro Pires [https://github.com/pedrocpires] */

/* Create the new component's CSS style here */

.Logo h2 {
  font: 36px "Baron Neue";
  color: var(--clr-primary);
  font-weight: 400;
  padding: 5px;
  letter-spacing: 0px;
}

.Logo a {
  color: var(--clr-primary);
  vertical-align: sub;
}

.Logo a:hover {
  color: var(--clr-primary);
}
