/* Created by Pedro Pires [https://github.com/pedrocpires] */

/* Create the new component's CSS style here */

.Logo h2{
    padding: 5px 0px;
    margin-right: 16px;
    line-height: 110%;
}

.Logo a {
    font: 36px 'Roboto', sans-serif;
    font-weight: 900;
    line-height: 110%;
    background: var(--clr-gradient-5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: transparent;
    margin-right: 16px;
    padding: 5px 0px;
}

