/* Created by Pedro Pires [https://github.com/pedrocpires] */

/* Create the new component's CSS style here */
.Header {
    background-color: var(--clr-content);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    margin: 25px;
}
