/* Created by Pedro Pires [https://github.com/pedrocpires] */

/* Create the new component's CSS style here */
.Boxcontent {
  padding: 40px;
  display: flex;
  background-color: var(--clr-content);
  color: var(--clr-white);
}
