/* Created by Pedro Pires [https://github.com/pedrocpires] */

/* Create the new component's CSS style here */
.Boxcontent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: var(--clr-white);
  overflow: hidden;
  max-width: 100%;
}
