/* Created by Pedro Pires [https://github.com/pedrocpires] */

/* Create the new component's CSS style here */
.Intro {
  display: block;
  margin-top: 56px;
}

.imageIntro img {
  width: calc(100% - 32px);
  margin: 48px 16px;
  /* object-fit: contain; */
}

.infosIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  justify-content: space-around;
}

.infosIntro span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--white);
  text-align: justify;
  text-align-last: center;
  vertical-align: middle;
  margin: 12px 0px 36px 0px;
}

.infosIntro h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 56px;
  margin: 12px 0px;
}

.introContent {
  justify-content: space-between;
  /* height: calc(90vh - 56px); */
}

.introButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  width: 100%;
}

.introButtons input {
  width: 100%;
}
