/* Created by Pedro Pires [https://github.com/pedrocpires] */

/* Create the new component's CSS style here */
.Footer {
  color: var(--white);
  padding: 27px 0px;
  display: block;
}

.boxFooter {
  background-color: var(--clr-content);
  padding: 27px 100px;
}
