/* Created by Pedro Pires [https://github.com/pedrocpires] */

/* Create the new component's CSS style here */
.ContentTitle h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 110%;
  color: var(--yellow);
}
