/* Created by Pedro Pires [https://github.com/pedrocpires] */

/* Create the new component's CSS style here */
.Nav {
  display: flex;
}

.Nav ul {
  display: flex;
  justify-content: space-around;
}
